.App {
  text-align: center;
  font-weight: 300;
  font-size: 20px;
  background-color: #f9f9f9;
  height: 100vh;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.830);
  z-index: 1;
}

.loading {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #3df18b transparent #3df18b transparent;
  border-radius: 50%;
  animation: spin-anim 1.2s linear infinite;
}

@keyframes spin-anim {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

.conatiner{
  display: flex;
  justify-content: center;
}

.wraper{
  display: flex;
  flex-direction: column;
  width: 70%;
}

.search{
  width: 97%;
  padding: 5px 10px;
  border-radius: 50px;
  border-width: 1px;
  background-color: #f9f9f9;
  margin-top: 20px;
  margin-bottom: 10px;
  box-shadow: rgba(125, 125, 135, 0.25) 0px 6px 12px -2px,
    rgba(108, 104, 104, 0.3) 0px 3px 7px -3px;
}

.cards-container{
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  border-radius: 25px;
  height: 75vh;
  overflow: scroll;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.card-container{
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  height: 170px;
  width: 200px;
  border-radius: 20px;
  margin-right: 10px;
  margin-bottom: 12px;
  text-align: left;
  padding: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.card-title{
  font-weight: 300;
  font-size: 15px;
  margin-bottom: 5px;
}

.card-company{
  font-weight: 600;
  font-size: 10px;
  color: #37d079;
}

.card-email{
  font-weight: 200;
  font-size: 10px;
  color: #3b3b3b;
}

.card-desc{
  font-weight: 200;
  font-size: 12px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  color: #3b3b3b;
}


.isPublished{
  font-weight: 200;
  font-size: 8px;
  color: #07a817;
}

.closed{
  font-weight: 200;
  font-size: 8px;
  color: #a80707;
}

.card-apply{
  border-radius: 5px;
  background-color: #37d079;
  font-weight: 200;
  font-size: 12px;
  padding: 5px 12px;
}

.card-apply:hover{
  cursor: pointer;
  background-color:#2eb468;
}

.card-detail{
  border-radius: 5px;
  background-color: #c6c6c6;
  font-weight: 200;
  font-size: 12px;
  padding: 5px 12px;
}

.card-detail:hover{
  cursor: pointer;
  background-color: #9a9a9a;
}

.detail-container{
  display: flex;
  border-radius: 25px;
  height: 75vh;
  text-align: left;
  overflow: hidden;
  margin-top: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.detail-job{
  flex: 1;
  padding: 25px;
  background-color: #37d079;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.detail-desc {
  flex: 2;
  padding: 25px;
  display: flex;
  flex-direction: column;
}

.detail-title{
  font-weight: 200;
  font-size: 30px;
}

.description-container{
  padding: 15px 0px;
  overflow: scroll;
}

.description{
  font-weight: 200;
  font-size: 15px;
  text-align: justify;
}

.title-main{
  font-weight: 700;
  font-size: 30px;
  color: #f9f9f9;
}

.company-job {
  font-weight: 500;
  font-size: 17px;
  margin-top: 5px;
  width: fit-content;
}

a{
  text-decoration: none;
  color: #181818;
}

.label{
  margin-top: 8px;
  font-weight: 400;
  font-size: 12px;
}

.date{
  font-weight: 400;
  font-size: 10px;
}

.tag-container{
  display: flex;
  flex-wrap: wrap;
}

.tag{
  background-color: #cdcdcd;
  padding: 5px;
  border-radius: 5px;
  width: fit-content;
  margin-right: 5px;
  margin-bottom: 5px;
  font-size: 15px;
}

.detail-apply{
  border-radius: 5px;
  background-color: #f2f2f2;
  font-weight: 200;
  font-size: 18px;
  padding: 5px 12px;
}

.detail-apply:hover{
  cursor: pointer;
  background-color: #dedede;
}

.detail-close {
  display: block;
  top: 20px;
  left: 15px;
  width: 50px;
  height: 53px;
  background:#f9f9f9;
  background-image: url("./icons/goBack.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28px;
  font-size: 0;
}